h1 {
    font-size: 20px;
}

/* Create cursor for type class */
.type {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.type::after {
    content: "|";
    position: absolute;
    background-color: #000;
    font-size: 20px;
    right: -5px;
}
.type.blink::after {
    animation: blink 800ms ease-in-out infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
